// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #005082;
$darker-blue: #364051;
$off-white: #f7f7f7;
//font-sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;

//break-point
$desktop-breakpoint-width : 100rem;
$desktop-breakpoint-height : 70rem;
$tablet-breakpoint-width : 50rem;
$tablet-breakpoint-height : 40.1rem;
$potrait-mobile-breakpoint-width : 50rem;
$potrait-mobile-breakpoint-height : 40rem;
$desktop-breakpoint : 50rem;